force-app/main/default/flows/ALFlowToUpdateContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>testNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userIdstosend</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Test Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>testBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addUserId</name>
        <label>addUserId</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>userIdstosend</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0055g00000Cm4d5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <description>also send Notification</description>
    <environments>Default</environments>
    <interviewLabel>ALFlowToUpdateContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALFlowToUpdateContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdatePhoneinContact</name>
        <label>UpdatePhoneinContact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>addUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0035g00000zwLEnAAM</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <stringValue>8888888888</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdatePhoneinContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>testBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team, this is body&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testNotify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0055g00000Cm4d5</stringValue>
        </value>
    </variables>
    <variables>
        <name>userIdstosend</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
