force-app/main/default/flows/MainContactFlowtoUpdateCreateddate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>MainContactFlowtoUpdateCreateddate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MainContactFlowtoUpdateCreateddate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateedDate</name>
        <label>UpdateedDate</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>UpdatedDate__c</field>
            <value>
                <elementReference>GetCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add5daystoCreatedDateSubFlow</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add5daystoCreatedDateSubFlow</name>
        <label>Add5daystoCreatedDateSubFlow</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>UpdateedDate</targetReference>
        </connector>
        <flowName>Add5daystoCreatedDateSubFlow</flowName>
        <inputAssignments>
            <name>getCreatedDatefrtomContact</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GetCreatedDate</assignToReference>
            <name>sendUpdatedDate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>GetCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
