force-app/main/default/flows/ScreenFlowExample1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Notification</name>
        <label>send Notification</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>sample test notication</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>0055g00000Cm4d5AAB</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>userIdAssign</name>
        <label>userIdAssign</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0055g00000Cm4d5AAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SampleName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SampleOpp1</stringValue>
        </value>
    </constants>
    <constants>
        <name>StageSampleValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </constants>
    <description>v2-created for a case - new</description>
    <environments>Default</environments>
    <formulas>
        <name>mobile_cleaner</name>
        <dataType>String</dataType>
        <expression>&apos;%&apos; &amp; RIGHT({!getContactNo.value},8) &amp; &apos;%&apos;</expression>
    </formulas>
    <interviewLabel>ScreenFlowExample1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlowExample1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpp</name>
        <label>CreateOpp</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>get_custom_notification_id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0015g00000Rgs1JAAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SampleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_custom_notification_id</name>
        <label>get custom notification id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>userIdAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send_Custom_Notifications_achyuth</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateOpp</targetReference>
        </connector>
        <fields>
            <name>sDisplayText</name>
            <fieldText>&lt;p&gt;Mobile Input Substitute Return - &lt;strong&gt;{!mobile_cleaner}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_FLOW_EX1</name>
        <label>SCREEN FLOW EX1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <fields>
            <name>HWText</name>
            <fieldText>&lt;p&gt;Hello World !!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getContactNo</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[+][0-9]{1,3}[0-9\s\-]+$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>contactMobile</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_date_and_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Enter date and time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;Mobile Input Substitute Return - &lt;strong&gt;{!mobile_cleaner}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Returns last 8 character cleared of spaces &amp;amp; -&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN_FLOW_EX1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notifi</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;hiii team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTmp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;hiiii&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendcustnotfiachyuth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
